@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:400,700");


@import url("components/card.css");
@import url("components/navbar.css");


@import url("pages/campuses.css");



body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  margin: 0;
}
h1, h2, h3 {
  font-family: "Poppins", "sans-serif";
}

.container {
  background-color: #EDDC82;
}

.text-center {
  text-align: center;
}

.card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.navbar-lewagon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  box-shadow: 5px 0 10px rgba(0,0,0,0.15);
}
.navbar-lewagon img {
  width: 50px;
}

.main-container {
  display: flex;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.cards {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  flex-grow: 1;
}
